/*make top arrangement more beautiful*/
body{
	/*padding-top: 40px;*/
}

/*Specific font style*/
h1,
h2,
h3,
h4,
p,
.form-control {
	font-family: 'Montserrat', sans-serif;
}
.nav a{
	font-family: 'Montserrat', sans-serif;
}

/*Special font for logo-words*/
@font-face{
	font-family: 'Thinking_of_Betty';
	src: url('Thinking_of_Betty.ttf') format('truetype');
}

@media (min-width: 768px) {
	.navbar>.container .navbar-brand, .navbar>.container-fluid .navbar-brand {
		margin-left: 2em;
	}
}
/*Adjustment for navbar and logo-words*/
.navbar-header .navbar-brand{
	font-family: 'Thinking_of_Betty';
	font-size: 30px;
	color: #007aff;
	float: none;
/*	padding-top: 30px;*/
	/*padding-left: 16%;*/
	display: inline-block;
	vertical-align: top;
	text-align: center;
	margin-left: 20%;
	padding: 0;
	/*margin: 0; */
	height: 100%
}
.navbar-brand,
.navbar-nav li a {
    line-height: 65px;
    height: 65px;
    padding-top: 0;
    font-size: large;
}

/*.navbar-brand{
	float: left;
    height: 50px;
    padding: 6px 5px;
    font-size: 18px;
    line-height: 20px;
}
*/
/*Words' color in different block*/
/*Home page words' color*/
.jumbotron h2{
	color: white;
	font-weight: bold;
}
.jumbotron p{
	color: white;
} 

/*Features words' color*/
#features .row h3{
	color: #007aff;
}
#features h1{
	color: #007aff;
}
#features h4{
	color: black;
}
/*how-it-work words' color*/
#how-it-works h1, h4{
	color: white;
}
/*team-vision workds' color*/
#team-vision h1, h3 {
	color: #007aff;
}
#team h1, h4 {
	color: white;
}
/*contact us color*/
#contact h1{
	color: #007aff;
}

/*set collasped navbar*/
#navbar-collapse {
	overflow-x: scroll;
	width: auto;
	white-space: nowrap;
}

/*two blcoks' background color*/
.jumbotron {
	background-color: #007aff; 
	text-align:center;
}
#how-it-works{
	background-color: #007aff;
}
#team {
	background-color: #007aff;	
}

/*Adujustment of home page pic's size*/
.jubotron .img-responsive{
	width: 500px; 
	height: 600px;
	float: none;
	display: inline-block;
}

/*change the social sharing buttons size*/
#share-buttons img {
	width: 35px;
	padding: 5px;
	border: 0;
	box-shadow: 0;
	display: inline;
}

/*darken buttons when mouseover but actually lighten*/
a.darken {
    display: inline-block;
    padding: 0;
}
a.darken img {
    display: block;
    -webkit-transition: all 0.25s linear;
       -moz-transition: all 0.25s linear;
        -ms-transition: all 0.25s linear;
         -o-transition: all 0.25s linear;
            transition: all 0.25s linear;
}
a.darken:hover img {
    opacity: 0.7;
}

/*scroll to the top*/
a.back-to-top {
	display: none;
	width: 50px;
	height: 50px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 10px;
	bottom: 10px;
	background: #27AE61 url("up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
}
a:hover.back-to-top {
	/*background-color: #000;*/ /*cancel result of black after clicking the button */
	opacity: 0.7; /*while create opaque animation*/
	-webkit-transition: all 0.25s linear;
       -moz-transition: all 0.25s linear;
        -ms-transition: all 0.25s linear;
         -o-transition: all 0.25s linear;
            transition: all 0.25s linear;
}

/*adjustment of download buttons*/ /*cancel download button*/
/*.downloadbtn{
	height: 40px;
	width: 135px;
	text-align: center;
}
.downloadbtn img{
	height: auto;
	width: 100%;
	text-align: center;
}*/

/*adjustment of logo image for shape and position*/
.logo-img{
	width: 180px;
	height: 45px;
	margin-top: 0.25em;
}

/*make open collapsed button align in center*/
.navbar {
	text-align: center;
}

/*make some buttons round*/
#roundbutton{
	border-radius: 50px;
}

.well{
	margin-bottom: 0;
}

/*adjustment of div padding top to cancell out the space occupied by navbar*/
/*#home{
	padding-top: 5%;
}*/

/*makeup of navbar height*/
section {
  padding: 6% 0;
}

.page-scroll{
	cursor: pointer;
}

/*img {
	max-width: 100%;
	width: auto 9;
	height: auto;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}*/

/*change 2 button styles*/
.row .btn{
    background-color: #007aff;
    color: white;
    border-color: white;
    font-family: 'Montserrat', sans-serif;
}

.row .col-lg-4 .img {
	width: 180px;
	height: 180px;
}

/*change phoneImg's size*/
#phoneImg{
	width: 261px;
	height: 541px;
	/*padding-left: 50px;*/
	/*text-align: center;*/
}

/*make pics in the center in mobile devices*/
#how-it-works .img-responsive{
	margin: 0 auto;
}
#features .img-responsive{
	margin: 0 auto;
}

/*adjustment for jumbo to be in the center in laptop*/
.jumbotron {
	margin-left:0px;
	margin-right:0px;
}
.jumbo-text {
	margin-left: 1em;
	margin-right: 1em;
}
.jumbotron .img-responsive {
	margin-left: 1em;
}

/*animation for logo words*/
a:hover.navbar-brand {
	opacity: 0.7; /*while create opaque animation*/
	-webkit-transition: all 0.25s linear;
       -moz-transition: all 0.25s linear;
        -ms-transition: all 0.25s linear;
         -o-transition: all 0.25s linear;
            transition: all 0.25s linear;
}

nav div div a {
	color: #007aff;
	transition: color 0.25s linear;
	-o-transition: color 0.25s linear;
	-ms-transition: color 0.25s linear;
	-moz-transition: color 0.25s linear;
	-webkit-transition: color 0.25s linear; 
}
nav div div a:hover {
	color: #007aff;
	cursor: pointer;
}

/*animation for navbar button when mouse left*/
ul li a {
	color: #007aff;
	transition: color 0.25s linear;
	-o-transition: color 0.25s linear;
	-ms-transition: color 0.25s linear;
	-moz-transition: color 0.25s linear;
	-webkit-transition: color 0.25s linear;         
}
ul li a:hover {
	color: #007aff;
	cursor: pointer;
}


/*different setting for mobile devices*/
@media only screen and (max-width: 1024px) { /*1024 for iPad, but not for landscape*/
	.jumbo-text {
		text-align: center;/*make words in header be in the center in mobile devices*/
	}
	section {
	  padding: 12% 0;/*makeup of navbar height in mobile*/
	}

}

.img-whole-team {
	width: 100%;
	height: auto;
}

.img-team {
	width: 100%;
}